body {
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
    color: #252627;
    background-color: #f8f9fa;
}
.h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #7862ac;
}
a {
    color: #85cb33;
}
a:hover {
    color: #85cb33;
}
.progress-bar {
    background-color: #7862ac;
}
.progress-bar:hover{
  background: #85cb33;
}
.years {
  display:none;
}
.progress {
    background-color: #f8f9fa;
}
.badge-secondary {
    background-color: #7862ac;
}
.vline {
    border-left: 1px solid #f3f3f3;
    height: 100%;
}
.grey-box {
    padding: 10px;
    background: #7862ac;
    border-radius: 10px;
    color: #f8f9fa;
}
.work-box {
    padding: 10px 20px;
    background-color: #f8f9fa;
    height: 325px;
    border: #f8f9fa 5px solid;
    border-radius: 10px;
}
.projects-box {
    padding: 10px;
    height: 200px;
}

@media only screen and (max-width: 768px) {
    .projects-box {
        height:auto;
    }
}
