.grey-box{
	padding: 10px;
    background: #f3f3f3;
    border-radius: 10px;
}
.h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.vline {
  border-left: 1px solid #f3f3f3;
  height: 100%;
}

[class*="col-"] {
    --padding-left: 5px;
}